# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Unignore husky
!.husky/*

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# micsdiff
.DS_Store
*dsYM

# Bundler cache
.bundle
vendor

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist
